:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  background: -webkit-linear-gradient(270deg, #e6a408 0%, #fc466b 25%, #1f2e5a 75%, #0a0a0a 100%);
}
.sticky-nav {
	position: sticky!important;
	top: 0;
}
.icon {
	width: 36px;
	height: 36px;
	padding-right: 5px;
}
